/* Loader Styling */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #05070A;
    /* True Night */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1.5s ease-in-out, visibility 1.5s;
}

.loader-wrapper.fade-out {
    opacity: 0;
    visibility: hidden;
}

@keyframes text-reveal {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Final Reveal Transition for Body Background */
.reveal-bg {
    animation: bg-shift 3s 3.5s forwards;
}

@keyframes bg-shift {
    to {
        background-color: #f2f2f2;
    }
}